<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil - Mon Forum</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
    <header>
        <h1>Bienvenue sur le Forum !</h1>
        <nav>
            {{if .IsAuthenticated}}
                <a href="/topics/create">Créer un sujet</a>
                <a href="/profil">Mon Profil</a>
                <a href="/logout">Déconnexion</a>
            {{else}}
                <a href="/login">Se connecter</a>
                <a href="/register">S'inscrire</a>
            {{end}}
        </nav>
    </header>
    
    <main>
        {{range .Topics}}
            <article>
                <h4><a href="/topic/{{.ID}}">{{.Title}}</a></h4>
                <p>par <strong>{{.AuthorName}}</strong> le {{.CreatedAt.Format "02 Jan 2006 à 15:04"}}</p>
            </article>
        {{end}}

        <hr>
        <div class="pagination">
            {{if .Pagination.HasPrevPage}}
                <a href="/?page={{.Pagination.PrevPage}}">‹ Précédent</a>
            {{end}}

            <span> Page {{.Pagination.CurrentPage}} sur {{.Pagination.TotalPages}} </span>

            {{if .Pagination.HasNextPage}}
                <a href="/?page={{.Pagination.NextPage}}">Suivant ›</a>
            {{end}}
        </div>
    </main>
</body>
</html>